<div class="row">
  <div class="col-xs-12">
    <p>
      <%= render_component(:tabbed_pane) do |component| %>
        <% component.add_tab('Movies1') do %>
          <p>
            first taught the chosen Seed, In the Beginning how the Heav'ns and Earth Rose out of CHAOS: Or if SION Hill Delight thee more, and SILOA'S Brook that flow'd Fast by the Oracle of God; I thence Invoke thy aid to my adventrous Song, That with no middle flight intends to soar Above th' AONIAN Mount, while it pursues Things unattempted yet in Prose or Rhime. And chiefly Thou O Spirit, that dost prefer Before all Temples th' upright heart and pure, Instruct me, for Thou know'st; Thou from the first
          </p>
        <% end %>
        <% component.add_tab('Movies2') do %>
          <p>
            first taught the chosen Seed, In the Beginning how the Heav'ns and Earth Rose out of CHAOS: Or if SION Hill Delight thee more, and SILOA'S Brook that flow'd Fast by the Oracle of God; I thence Invoke thy aid to my adventrous Song, That with no middle flight intends to soar Above th' AONIAN Mount, while it pursues Things unattempted yet in Prose or Rhime. And chiefly Thou O Spirit, that dost prefer Before all Temples th' upright heart and pure, Instruct me, for Thou know'st; Thou from the first
          </p>
        <% end %>
        <% component.add_tab('Movies3') do %>
          <p>
            first taught the chosen Seed, In the Beginning how the Heav'ns and Earth Rose out of CHAOS: Or if SION Hill Delight thee more, and SILOA'S Brook that flow'd Fast by the Oracle of God; I thence Invoke thy aid to my adventrous Song, That with no middle flight intends to soar Above th' AONIAN Mount, while it pursues Things unattempted yet in Prose or Rhime. And chiefly Thou O Spirit, that dost prefer Before all Temples th' upright heart and pure, Instruct me, for Thou know'st; Thou from the first
          </p>
        <% end %>
      <% end %>
    </p>
  </div>
</div>
