<div class="container">
<div class="row">
  <div class="col-xs-12">
    <p>
      Say first, for Heav'n hides nothing from thy view Nor the deep Tract of Hell, say first what cause Mov'd our Grand Parents in that happy State, Favour'd of Heav'n so highly, to fall off From their Creator, and transgress his Will For one restraint, Lords of the World besides? Who first seduc'd them to that fowl revolt? Th' infernal Serpent; he it was, whose guile Stird up with Envy and Revenge, deceiv'd The Mother of Mankinde, what time his Pride Had cast him out from Heav'n, with all his Host Of Rebel Angels, by whose aid aspiring To set himself in Glory above his Peers, He trusted to have equal'd the most High, If he oppos'd; and with ambitious aim Against the Throne and Monarchy of God Rais'd impious War in Heav'n and Battel proud With vain attempt. Him the Almighty Power Hurld headlong flaming from th' Ethereal Skie With hideous ruine and combustion down To bottomless perdition, there to dwell
    </p>
  </div>
</div>
</div>
