<div class="row">
  <div class="col-xs-12">
    <p>
      To bottomless perdition, there to dwell In Adamantine Chains and penal Fire, Who durst defie th' Omnipotent to Arms. Nine times the Space that measures Day and Night To mortal men, he with his horrid crew Lay vanquisht, rowling in the fiery Gulfe Confounded though immortal: But his doom Reserv'd him to more wrath; for now the thought Both of lost happiness and lasting pain Torments him; round he throws his baleful eyes That witness'd huge affliction and dismay Mixt with obdurate pride and stedfast hate: At once as far as Angels kenn he views The dismal Situation waste and wilde, A Dungeon horrible, on all sides round As one great Furnace flam'd, yet from those flames No light, but rather darkness visible Serv'd only to discover sights of woe, Regions of sorrow, doleful shades, where peace
    </p>
  </div>
</div>
