<div class="container main">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">

          <div class="tabbed-panel panel panel-default with-nav-tabs">
            <div class="panel-heading">
              <ul class="nav nav-tabs">
                <li role="presentation" class="active"><a data-tab="tab-1" href="#">Home</a></li>
                <li role="presentation"><a data-tab="tab-2" href="#">Profile</a></li>
                <li role="presentation"><a data-tab="tab-3" href="#">Messages</a></li>
              </ul>
            </div>
            <div class="panel-body">
              <div class="tab-content">
                <span class="tab-content-slider">
                  <div class="tab tab-1 active">
                    <%= render 'first_tab' %>
                  </div>
                  <div class="tab tab-2">
                    <%= render 'second_tab' %>
                  </div>
                  <div class="tab tab-3">
                    <%= render 'third_tab' %>
                  </div>
                </span>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
