.tabbed-pane {
  .tab, .tab-content {
    overflow: hidden;
  }

  .tab-content {
    .tab-content-slider {
      left: 0px;
      width: 100%;
      -webkit-transition: left 1s; /* Safari */
      transition: left 1s;

      display: inline-flex;
      position: relative;

      .tab {
        width: 100%;
        display: inline-table;
      }
    }
  }

  .panel-heading {
    border-bottom: none;
  }
}

.panel.with-nav-tabs .panel-heading {
  padding: 5px 5px 0 5px;
}
